<!DOCTYPE html>
<html lang="en" ng-app="contentApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Cloud Native Outfitters</title>

    <link type="text/css" rel="stylesheet"
          href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700">

    <!-- Bootstrap core CSS -->
    <link href="assets/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/cover.css" rel="stylesheet">
    <link href="assets/css/font-awesome.css" rel="stylesheet">

    <!-- Owl Carousel Assets -->
    <link href="assets/lib/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="assets/lib/owl-carousel/owl.theme.css" rel="stylesheet">

    <!-- Prettify -->
    <link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <script src="assets/js/holder.js"></script>
    <script src="assets/lib/angular/angular.js"></script>
    <script src="assets/lib/angular/angular-route.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controller.js"></script>
    <script src="assets/js/parallax.js"></script>
</head>

<body>

<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top" role="navigation" ng-controller="HeaderCtrl">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="logo-well">
                <i class="fa fa-cloud"></i>
            </div>
            <a class="navbar-brand" href="#">
                <div class="brand">Cloud Native Outfitters</div>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-if="user.id != undefined">
                    <span class="ng-binding welcome-tag">
                        <span>Welcome,</span>
                        <span>{{ user.firstName }} {{ user.lastName }}!</span>
                    </span>
                </li>
                <li ng-if="user.id != undefined"><a href="/#/orders">Orders</a></li>
                <li ng-if="user.id != undefined"><a href="/#/settings">Settings</a></li>
                <li ng-if="user.id != undefined"><a href="/#/cart"><i class="fa fa-shopping-cart"></i><span class="cart-icon">Cart</span></a></li>
                <li ng-if="user.id == undefined"><a href="/login">Login</a></li>
                <li ng-if="user.id != undefined"><a ng-click="logout()" href="#">Logout</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div ng-view></div>

<div id="mydiv">
</div>
<img src="assets/img/AjaxLoader.gif" class="ajax-loader"/>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="assets/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/lib/owl-carousel/owl.carousel.min.js"></script>
<script src="assets/js/google-code-prettify/prettify.js"></script>
</body>
</html>